<% provide(:title, "Note") %>
<% if current_user %>
  <div class="container">
    <div class="col-lg-6 col-lg-offset-3">
      <%= link_to "New Note", new_note_path, class: "btn btn-primary" %>
      <%= link_to "All Note", notes_path, class: "btn btn-success" %>
      <table class="table table-bordered">
        <tr>
          <th>#</th>
          <th>主题</th>
          <th>标签</th>
          <th>内容</th>
          <th>创建时间</th>
          <th>更新时间</th>
          <th>编辑</th>
        </tr>
        <% @notes.each do |note| %>
        <tr>
          <td><%= note.id %></td>
          <td><%= note.title %></td>
          <td><%= note.note_type %></td>
          <td><%= note.body %></td>
          <td><%= datetime note.created_at %></td>
          <td><%= datetime note.updated_at %></td>
          <td>
            <% if current_user == note.user %>
              <%= link_to "edit", edit_note_path(note) %>
              <%= link_to "delete", note, method: :delete, data: { confirm: "确定删除？" }  %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
    <div class="col-lg-6 col-lg-offset-3">
    <div id="map_index">
    </div>
  </div>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    var map = L.map('map_index').setView([29.86, 121.56], 8);
    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);
    <% @notes.each do |note| %>
      L.marker([<%= note.latlng %>])
               .bindPopup("<label>用户名:</label> <%= note.user.name %></br>" +
                          "<label>主题:</label> <%= note.title %><br>" +
                          "<label>标签:</label> <a href='/notes?note_type=<%= note.note_type %>'><%= note.note_type %></a><br>" +
                          "<label>内容:</label> <%= note.body %><br>" +
                          "<label>创建时间:</label> <%= datetime note.created_at %></br>" +
                          "<label>更新时间:</label> <%= datetime note.updated_at %></br>" +
                          "<% if current_user.id == note.user.id %>" +
                            "<a href='/notes/<%= note.id %>/edit'>edit</a>" +
                            "<a data-confirm='确定删除' rel='nofollow' data-method='delete' href='/notes/<%= note.id %>'> delete</a>" +
                          "<% end %>")
               .addTo(map);
    <% end %>
  });
</script>
